# This file is used to ignore files and directories in a Git repository
# that are not needed to be tracked by version control.
# Terraform state files
*.tfstate
*.tfstate.*
# Terraform plan files
*.tfplan
# Terraform workspace files
.terraform/
# Terraform variables
terraform.tfvars
# Terraform module cache
.terraform.lock.hcl
# Terraform provider binaries
# Ignore any provider binaries that may be downloaded
# during the Terraform init process
# Ignore any local environment files
.env
main.txt
